In [1]:
import requests
import pandas as pd

# API endpoint for top 10 cryptocurrencies
url = "https://api.coingecko.com/api/v3/coins/markets"
params = {
    'vs_currency': 'usd',
    'order': 'market_cap_desc',
    'per_page': 10,
    'page': 1,
    'sparkline': False
}

# Request data from API
response = requests.get(url, params=params)

# Check if request was successful
if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)[['id', 'symbol', 'name', 'current_price', 'market_cap']]
    print("✅ Data fetched successfully!")
    display(df)
else:
    print("❌ Failed to fetch data. Status code:", response.status_code)

✅ Data fetched successfully!

            id symbol      name  current_price     market_cap
0      bitcoin    btc   Bitcoin   83472.000000  1657108056266
1     ethereum    eth  Ethereum    1594.660000   192473334452
2       tether   usdt    Tether       0.999613   144285682969
3       ripple    xrp       XRP       2.060000   120142589065
4  binancecoin    bnb       BNB     590.030000    86064151362
5       solana    sol    Solana     124.660000    64307722695
6     usd-coin   usdc      USDC       0.999899    60074481105
7     dogecoin   doge  Dogecoin       0.162081    24122669080
8         tron    trx      TRON       0.249369    23666400796
9      cardano    ada   Cardano       0.638064    22989614673

In [2]:
import sqlite3

# Step 1: Connect to a database (creates it if it doesn't exist)
conn = sqlite3.connect("crypto_data.db")
cursor = conn.cursor()

# Step 2: Create a table (if not already created)
cursor.execute('''
CREATE TABLE IF NOT EXISTS crypto_prices (
    id TEXT PRIMARY KEY,
    symbol TEXT,
    name TEXT,
    current_price REAL,
    market_cap INTEGER
)
''')

# Step 3: Insert or update the data
for _, row in df.iterrows():
    cursor.execute('''
    INSERT OR REPLACE INTO crypto_prices (id, symbol, name, current_price, market_cap)
    VALUES (?, ?, ?, ?, ?)
    ''', (row['id'], row['symbol'], row['name'], row['current_price'], row['market_cap']))

# Step 4: Commit changes and close connection
conn.commit()
conn.close()

print("✅ Data inserted into crypto_data.db")

✅ Data inserted into crypto_data.db

In [3]:
# Reconnect to the database
conn = sqlite3.connect("crypto_data.db")

# Read the data into a DataFrame
df_sql = pd.read_sql_query("SELECT * FROM crypto_prices", conn)

# Close the connection
conn.close()

# Show the results
df_sql

            id symbol      name  current_price     market_cap
0      bitcoin    btc   Bitcoin   83472.000000  1657108056266
1     ethereum    eth  Ethereum    1594.660000   192473334452
2       tether   usdt    Tether       0.999613   144285682969
3       ripple    xrp       XRP       2.060000   120142589065
4  binancecoin    bnb       BNB     590.030000    86064151362
5       solana    sol    Solana     124.660000    64307722695
6     usd-coin   usdc      USDC       0.999899    60074481105
7     dogecoin   doge  Dogecoin       0.162081    24122669080
8         tron    trx      TRON       0.249369    23666400796
9      cardano    ada   Cardano       0.638064    22989614673

In [5]:
# Load data from SQLite database
conn = sqlite3.connect("crypto_data.db")
df = pd.read_sql_query("SELECT * FROM crypto_prices", conn)
conn.close()

# Work with the data (Example: Print it)
(df)

            id symbol      name  current_price     market_cap
0      bitcoin    btc   Bitcoin   83472.000000  1657108056266
1     ethereum    eth  Ethereum    1594.660000   192473334452
2       tether   usdt    Tether       0.999613   144285682969
3       ripple    xrp       XRP       2.060000   120142589065
4  binancecoin    bnb       BNB     590.030000    86064151362
5       solana    sol    Solana     124.660000    64307722695
6     usd-coin   usdc      USDC       0.999899    60074481105
7     dogecoin   doge  Dogecoin       0.162081    24122669080
8         tron    trx      TRON       0.249369    23666400796
9      cardano    ada   Cardano       0.638064    22989614673

In [6]:
# Save the data to a CSV file
df.to_csv("crypto_data.csv", index=False)

# Now you have a CSV file you can use in your portfolio.